<html>


<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src=" https://code.jquery.com/jquery-3.6.0.min.js"></script>





    <link rel="stylesheet" href="/stylesheets/login_page_1.css">
</head>

<body>
    <div>
        <div>
            <div class="headbox">
                <h1 class="heading">𝓟𝓢-𝓢𝓞𝓕𝓣𝓔𝓒𝓗</h1>
            </div>

            <div style="display: flex; flex-direction:row;">
                <div
                    style="   background-image: url('/images/simg.jpg'); background-size: cover; width:7cm; height:12cm; margin-left:10cm; ">
                </div>
                <div style="display:flex; flex-direction:column;  margin-top: 0cm;">
                    <div style="margin-left: 2cm; margin-top:1cm; ">
                        <a class="waves-effect waves-teal btn-flat"
                            style="background-color: white; width:5cm; height:4cm ; margin-top: -1.5cm; margin-left: -0.9cm;">
                            <i class="material-icons prefix"
                                style="margin-top: 1cm; margin-left:1.7cm;">account_circle</i>
                            <h6 style="margin-top:0.6cm; margin-left: 1.3cm; ">LOGIN</h6>
                        </a>
                    </div>
                    <div style="margin-left: 2cm; margin-top:1cm; ">
                        <a class="waves-effect waves-teal btn-flat"
                            style="background-color: white; width:5cm; height:4cm ; margin-top: 0cm; margin-left: -0.9cm;">
                            <i class="material-icons prefix" style="margin-top: 1cm; margin-left:1.7cm;">create</i>
                            <h6 style="margin-top:0.6cm; margin-left: 1.3cm; ">REGISTER</h6>
                        </a>
                    </div>

                    <div style="margin-left: 2cm; margin-top:1cm; ">
                        <a class="waves-effect waves-teal btn-flat"
                            style="background-color: white; width:5cm; height:4cm ; margin-top: 0cm; margin-left: -0.9cm;">
                            <i class="material-icons prefix" style="margin-top: 1cm; margin-left:1.7cm;">lock</i>
                            <h6 style="margin-top:0.6cm; margin-left: 1.3cm; ">FORGOT PASSWORD?</h6>
                        </a>
                    </div>
                </div>

                <div class="maindiv">
                    <div class="loginherebox">
                        <div class="loginhead"> LOGIN HERE</div>
                        <div class="loginherebox2">
                           <div class="form">
                           
                            <input type="email" name="email" placeholder="Enter Email Here">
                            <input type="password" name="" placeholder="Enter Password Here">
                            <button class="btnn"><a href="#">Login</a></button>
                        </div>
                               
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
    </div>


    <!--JavaScript at end of body for optimized loading-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>

</html>